<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="button" id="github">깃허브 회원가입 테스트</button>
    <button type="button" id="info">유저 정보 조회</button>
    <a href="https://api.algoitni.site/auth/profile"> 유저 정보 조회 </a>

    <script>
        const login = document.getElementById('github')
        login.addEventListener("click", () => {
            document.location='https://api.algoitni.site/auth/github'
        })

        document.getElementById("info").addEventListener("click", ()=>{
            fetch("https://api.algoitni.site/auth/profile", {credentials: 'include'})
            .then(res =>  res.json())
            .then(console.log)
        })
    </script>
    {{!-- <h1>회원가입</h1>
    <h2>form action -> content-type: x-www-urlencoded</h2>
    <form action="/member/create" method="post">
        <input type="text" name="id" placeholder="id를 입력하세요"/>
        <input type="text" name="name" placeholder="이름를 입력하세요"/>
        <input type="password" name="password" placeholder="비밀번호를 입력하세요"/>
        <button type="submit">제출</button>
    </form>
    <h2>fetch api -> content-type: application/json</h2>
    <form>
        <input id="id" type="text" name="id" placeholder="id를 입력하세요"/>
        <input id="name" type="text" name="name" placeholder="이름를 입력하세요"/>
        <input id="password" type="password" name="password" placeholder="비밀번호를 입력하세요"/>
        <button onclick="memberAPI()">제출</button>
    </form>

    <script>
        const memberAPI = () => {
            const id = document.getElementById("id").value;
            const name = document.getElementById("name").value;
            const password = document.getElementById("password").value;
            data = {id, name, password}

            fetch("/member/create", {
                method: "POST",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify(data)
            }).then((res) => {
                if(res.ok){
                    res.json(alert);
                };
            })
        }
    </script> --}}
</body>
</html>